/* Colors */
h1 {
    color: maroon;
}

/* Borders */
.box1 {
    border: 2px solid black;
    background-color: lightgray;
}

/* Margin and Padding */
.box2 {
    border: 2px dashed blue;
    background-color: #e6f7ff;
    margin: 20px;       /* space outside border */
    padding: 15px;      /* space inside border */
}
